body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1rem;
    line-height: 1.5em;
    margin: 0;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

h1 {
    font-size: 1.8rem;
    line-height: 1em;
}

.header {
    background: black;
    color: white;
    padding: 1.5rem 0;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo-container {
    display: flex;
    justify-content: space-between;

}

.logo {
    letter-spacing: 5px;
    font-size: 1.3em;
}

.navegation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navegation ul li {
    display: inline-block;
    list-style: none;
}

.navegation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
}

.navegation ul li a:hover {
    color: red;
}

footer {
    text-align: center;
    background-color: rgb(209, 206, 206)
}

.logo {
    width: 100px;
    height: 100px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: -2s;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
  }
